@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-image: url(image.jpg);
}

/* Resetting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.needmargin{
    margin-left: 18em;
    color: #292929;
}

ul {
    list-style-type: none;
}

.company {
    color:#2b2b2b;
}

.last {
    margin-left: 3em;
}

.postInfo {
    margin-left: 7em;
    font-size: 1.5em;
    color:#ffffff;
}

.smaller{
    font-size: 1em;
    margin-bottom: 5em!important;
}

.priceLabel{
    margin-right: 1em;
    padding-right: 1em;
}

.mytitle{
    text-align: center;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 0 #008cfe, -2px 0 #008cfe, 0 2px #008cfe, 0 -2px #008cfe,
    1px 1px #008cfe, -1px -1px #008cfe, 1px -1px #008cfe, -1px 1px #008cfe;
}

.mytitle2{
    text-align: center;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    color: #ffffff;
    text-shadow: 2px 0 #008cfe, -2px 0 #008cfe, 0 2px #008cfe, 0 -2px #008cfe,
    1px 1px #008cfe, -1px -1px #008cfe, 1px -1px #008cfe, -1px 1px #008cfe;
}

.mytitle22{
    text-align: center;
    font-size: 1.5em;
    color: #ffffff;
}

.preinfo{
    text-align: center;
}

.postinfo{
    padding: 3em;
    border-radius: 20px;
    border: 3px solid white;
}

.rounded-0 {
    border-radius: 20px!important; 
}

.bg-white {
    background-color: #fff!important;
    border-radius: 30px;
    opacity: 0.90;
}

.deparr {
    font-size: 1.2em;
    display: table-cell;
    padding-left: 1em;
    padding-right: 3.8em;
    color: #2b2b2b;
}

.deparr2 {
    font-size: 1.2em;
    display: table-cell;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 1em;
    color: #2b2b2b;
}


.errors{
    text-align: center;
    color: #F8504C;
}

.myrow{
    display: table-caption!important;
    margin-left: 0.6em;
}

.wrapper {
    max-width: 800px;
    margin: 15% auto;
    margin-top: 7%;
    margin-bottom: 1%;
    padding: 30px 50px;
}

.wrapper {
    padding: 30px 50px;
    border: 2px solid #4c9bf0;
}

.wrapper .option {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: block;
}

.wrapper .option input {
    display: none;
}

.wrapper .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 50%;
}

.wrapper .option input:checked~.checkmark:after {
    display: block;
}

.wrapper .option .checkmark:after {
    content: "";
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
    background-color: #333;
    position: absolute;
    top: 48%;
    left: 52%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out 0s;
}

.wrapper .option:hover input[type="radio"]~.checkmark {
    background-color: #f4f4f4;
}

.wrapper .option input[type="radio"]:checked~.checkmark {
    background: #fff;
    color: #fff;
    transition: 300ms ease-in-out 0s;
}

.wrapper .option input[type="radio"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1);
    color: #fff;
}

.wrapper a {
    color: #333;
}

.border-bottom {
    border-bottom: 0px solid!important;
}

.wrapper .form-control {
    outline: none;
    border: none;
    border: 2px solid #008cfe!important;
    border-radius: 20px;
    margin-right: 1em;
    margin-left: 1em;
    color: darkgray;
}

.wrapper .form-control:focus {
    box-shadow: none;
}

.wrapper input[type="text"]:focus::placeholder {
    color: transparent
}

label {
    margin-bottom: 0!important;
    font-size: 1.65em;
}

.toright{
    display: inline-flex;
}

input[type="date"] {
    cursor: pointer;
}

.border-top {
    border-bottom: 1px solid #4c9bf0!important;
}

.border-bottom {
    border-bottom: 0;
}

.wrapper .label::after {
    position: absolute;
    /* background-color: #fff; */
    top: 5px;
    left: 0px;
    font-size: 0.9rem;
    margin: 0rem 0.4rem;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-weight: 600;
    color: #999;
    transition: all .2s ease-in-out;
    transform: scale(0);
}

.wrapper .label#from::after {
    content: 'From';
}

.wrapper .label#to::after {
    content: 'To';
}

.wrapper .label#depart::after {
    content: 'Depart Date';
}

.wrapper .label#return::after {
    content: 'Return Date';
}

.wrapper .label#psngr::after {
    content: 'Traveller(s)';
}

.wrapper input[type="text"]:focus~.label::after {
    top: -15px;
    left: 0px;
    transform: scale(1);
}

.wrapper input[type="date"]:focus~.label::after {
    top: -15px;
    left: 0px;
    transform: scale(1);
}

/* Margin */
.margin {
    margin: 2rem 0rem;
}

/* Media Queries */
@media(max-width: 575.5px) {
    .wrapper {
        margin: 10px;
    }

    .wrapper form {
        padding: 20px;
    }

    .margin {
        margin: .2rem 0rem;
    }
}

@import url('https://fonts.googleapis.com/css?family=Oswald');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box
}

body {
    background-color: #dadde6;
    font-family: arial;
}

.fl-left {
    float: left
}

.fl-right {
    float: right
}

.colon {
    display: table-cell;
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    border-left: 10px solid #4c9bf0;
    padding-left: 10px;
    margin-bottom: 30px;
}

.row {
    overflow: hidden;
    margin-left: 10em!important;
    margin-right: 10em!important;
    margin-top: 1.5em!important;
    margin-bottom: 1em!important;
}

.card {
    display: table-row;
    width: 46%;
    background-color: #fff;
    color: #989898;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    border-radius: 20px;
    position: relative;
}

.card+.card {
    margin-left: 8%
}

.date {
    display: table-cell;
    width: 13em;
    position: relative;
    text-align: center;
    border-right: 2px dashed #dadde6
}

.date:before,
.date:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #4c9bf0;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
    border-radius: 50%
}

.date:after {
    top: auto;
    bottom: -15px
}

.date time {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.date time span {
    display: block
}

.date time span:first-child {
    color: #2b2b2b;
    font-weight: 600;
    font-size: 250%
}

.date time span:last-child {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -10px
}

.card-cont {
    display: table-cell;
    width: 75%;
    font-size: 85%;
    padding: 10px 10px 20px 50px
}

.card-cont h3 {
    color: #3C3C3C;
    font-size: 130%
}

.row:last-child .card:last-of-type .card-cont h3 {
    text-decoration: line-through
}

.card-cont>div {
    display: table-row
}

.card-cont .even-date i,
.card-cont .even-info i,
.card-cont .even-date time,
.card-cont .even-info p {
    display: table-cell
}

.card-cont .even-date i,
.card-cont .even-info i {
    padding: 5% 5% 0 0
}

.card-cont .even-info p {
    padding: 30px 50px 0 0
}

.card-cont .even-date time span {
    display: block
}

.card-cont a {
    display: block;
    text-decoration: none;
    width: 80px;
    height: 30px;
    background-color: #D8DDE0;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px
}

.row:last-child .card:first-child .card-cont a {
    background-color: #037FDD
}

.row:last-child .card:last-child .card-cont a {
    background-color: #F8504C
}

@media screen and (max-width: 860px) {
    .card {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 10px
    }
    .card+.card {
        margin-left: 0
    }
    .card-cont .even-date,
    .card-cont .even-info {
        font-size: 75%
    }
}