<html>
  <head>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js" integrity="sha512-0RxGTiFXp36+bSbJM+/QSTl1LDQ4pHdDZ8Ua9ZXl454qKSsYu228AOLHYfzx/rm4Dm6I+176ETRF55DpvrHTgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.dark.min.css" integrity="sha512-Mpz/GtaUBKNAwsccAGeJSLOv9Q3kcQOI2ZOHKdANxNaYGOxrejgFed1FJbSMsxNahsPNiGVbIPY4ud+p8u90VA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <title>Flight Search</title>
  </head>

  <body>

  <script>
      $(document).ready(function() {
          $('input[type="radio"]').change(function() {
            // Ottieni il valore del radio button selezionato
            var selectedOption = $('input[name="options"]:checked').val();
            $('#formQuery1').hide();
            $('#formQuery2').hide();
            $('#formQuery3').hide();

            // Mostra il contenuto corrispondente all'opzione selezionata
            $('#formQuery' + selectedOption).show();
          });
        });
  </script>

    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href={{url_for("query")}}>
            <img src="static/plane.png" width="30" height="30" class="d-inline-block align-top" alt="">
            FlightsDB
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href={{url_for("insert")}}>Insert</a>
              <a class="nav-item nav-link active" href={{url_for("delete")}}>Delete</a>
                <a class="nav-item nav-link active" href={{url_for("update")}}>Update</a>
              <a class="nav-item nav-link active" href={{url_for("departure")}}>Departure/Destination</a>
              <a class="nav-item nav-link active" href={{url_for("airports")}}>Airports</a>
              <a class="nav-item nav-link active" href={{url_for("airlines")}}>Airlines</a>

            </div>
        </div>
    </nav>
    <br><br>
    <div class="btn-group">
        <input type="radio" class="btn-check" name="options" id="1" value="1" autocomplete="off" checked />
        <label class="btn btn-secondary" for="1">Flights</label>

        <input type="radio" class="btn-check" name="options" id="2" value="2"  autocomplete="off" />
        <label class="btn btn-secondary" for="2">Airports</label>

        <input type="radio" class="btn-check" name="options" id="3" value="3"  autocomplete="off" />
        <label class="btn btn-secondary" for="3">Airlines</label>
    </div>
    <br><br>
    <div class="form-outline bg-black border rounded-5 text-center">
        <form id="formQuery1" method="POST">
          <input type="text" id="query" name="query" class="form-control" />
          <label class="form-label" for="query">{"field" : "value"}</label>
          <input type="submit" formaction="/deleteFlight" class="btn btn-primary btn-block mb-4">
        </form>
        <form id="formQuery2" method="POST" style="display:none;">
          <input type="text" id="query" name="query" class="form-control" />
          <label class="form-label" for="query">{"field" : "value"}</label>
          <input type="submit" formaction="/deleteAirport" class="btn btn-primary btn-block mb-4">
        </form>
        <form id="formQuery3" method="POST" style="display:none;">
          <input type="text" id="query" name="query" class="form-control" />
          <label class="form-label" for="query">{"field" : "value"}</label>
          <input type="submit" formaction="/deleteAirline" class="btn btn-primary btn-block mb-4">
        </form>
        <h3> {{ message }}</h3>
    </div>

  </body>
</html>