<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js" integrity="sha512-0RxGTiFXp36+bSbJM+/QSTl1LDQ4pHdDZ8Ua9ZXl454qKSsYu228AOLHYfzx/rm4Dm6I+176ETRF55DpvrHTgw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.dark.min.css" integrity="sha512-Mpz/GtaUBKNAwsccAGeJSLOv9Q3kcQOI2ZOHKdANxNaYGOxrejgFed1FJbSMsxNahsPNiGVbIPY4ud+p8u90VA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <title>Document insertion</title>
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            <img src="static/plane.png" width="30" height="30" class="d-inline-block align-top" alt="">
            FlightsDB
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href={{url_for("insert")}}>Insert</a>
              <a class="nav-item nav-link active" href={{url_for("delete")}}>Delete</a>
              <a class="nav-item nav-link active" href={{url_for("departure")}}>Departure/Destination</a>
              <a class="nav-item nav-link active" href={{url_for("airports")}}>Airports</a>
              <a class="nav-item nav-link active" href={{url_for("airlines")}}>Airlines</a>
            </div>
        </div>
    </nav>

    <div id="searchFlight" class="searchFlight">

          <div class="mytitle">
            <label>FlightsDB</label>
          </div>
          <div id="mytitle2" class="mytitle2">
            <label>Insert your query</label>
          </div>

          <div class="bg-black border rounded-5">
              <div class="btn-group">
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" checked />
                <label class="btn btn-secondary" for="option1">Flights</label>

                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" />
                <label class="btn btn-secondary" for="option2">Airports</label>

                <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" />
                <label class="btn btn-secondary" for="option3">Airlines</label>
            </div>

            <section class="pb-4">
              <div class="flights_form">
                  <section class="w-100 p-4 text-center pb-4">

                    <form>
                      <div class="row mb-4">
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" id="form6Example1" class="form-control">
                            <label class="form-label" for="form6Example1" style="margin-left: 0px;">Year</label>
                          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
                        </div>
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" id="form6Example2" class="form-control">
                            <label class="form-label" for="form6Example2" style="margin-left: 0px;">Month</label>
                          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
                        </div>
                        <div class="col">
                          <div class="form-outline">
                            <input type="text" id="form6Example2" class="form-control">
                            <label class="form-label" for="form6Example2" style="margin-left: 0px;">Day</label>
                          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
                        </div>
                      </div>

                      <!-- Text input -->
                      <div class="form-outline mb-4">
                        <input type="text" id="form6Example3" class="form-control">
                        <label class="form-label" for="form6Example3" style="margin-left: 0px;">Company name</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 97.6px;"></div><div class="form-notch-trailing"></div></div></div>

                      <!-- Text input -->
                      <div class="form-outline mb-4">
                        <input type="text" id="form6Example4" class="form-control">
                        <label class="form-label" for="form6Example4" style="margin-left: 0px;">Address</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 55.2px;"></div><div class="form-notch-trailing"></div></div></div>

                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="email" id="form6Example5" class="form-control">
                        <label class="form-label" for="form6Example5" style="margin-left: 0px;">Email</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 40px;"></div><div class="form-notch-trailing"></div></div></div>

                      <!-- Number input -->
                      <div class="form-outline mb-4">
                        <input type="number" id="form6Example6" class="form-control">
                        <label class="form-label" for="form6Example6" style="margin-left: 0px;">Phone</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 44px;"></div><div class="form-notch-trailing"></div></div></div>

                      <!-- Message input -->
                      <div class="form-outline mb-4">
                        <textarea class="form-control" id="form6Example7" rows="4"></textarea>
                        <label class="form-label" for="form6Example7" style="margin-left: 0px;">Additional information</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 135.2px;"></div><div class="form-notch-trailing"></div></div></div>

                      <!-- Submit button -->
                      <button type="button" class="btn btn-primary btn-block mb-4">Place order</button>
                    </form>
                  </section>
              </div>
          </section>
          <div id="errors" class="errors"></div>
    </div>
</div>


  </body>
</html>