<html>
    <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Index</title>
  </head>

  <body>
    <script>

      $(document).ready(function() {
          $('#message').show();
            {% if flights_size is undefined %}
               $("#flightsTable").hide();
            {% else %}
                $("#flightsTable").show();
            {% endif %}

            {% if airports_size is undefined %}
               $("#airportsTable").hide();
               console.log("hide")
            {% else %}
                $("#airportsTable").show();
                console.log("show")
            {% endif %}

            {% if airlines_size is undefined %}
               $("#airlinesTable").hide();
            {% else %}
                $("#airlinesTable").show();
            {% endif %}

          $('input[type="radio"]').change(function() {
              $('#message').hide();
            // Ottieni il valore del radio button selezionato
            var selectedOption = $('input[name="options"]:checked').val();
            $('#FlightTableForm1').hide();
            $('#FlightTableForm2').hide();
            $('#FlightTableForm3').hide();

            // Mostra il contenuto corrispondente all'opzione selezionata
            $('#FlightTableForm' + selectedOption).show();
          });

          $('input[type="radio"]').ready(function() {
            // Ottieni il valore del radio button selezionato
            var selectedOption = $('input[name="options"]:checked').val();
            $('#FlightTableForm1').hide();
            $('#FlightTableForm2').hide();
            $('#FlightTableForm3').hide();

            // Mostra il contenuto corrispondente all'opzione selezionata
            $('#FlightTableForm' + selectedOption).show();
          });
      });

  </script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #3b71ca;">
        <a style="margin-left: 1em" class="navbar-brand" href={{url_for("query")}}>
            <img src="static/plane.png" width="30" height="30" class="d-inline-block align-top" alt="">
            FlightsDB
        </a>
        <div class="container-fluid" id="navbarNavAltMarkup" style="margin-left: 30em;">
            <div class="navbar-nav">
              <strong><a class="nav-item nav-link" href={{url_for("query")}}>Query</a></strong>
              <strong><a class="nav-item nav-link" href={{url_for("insert")}}>Insert</a></strong>
              <strong><a class="nav-item nav-link" href={{url_for("delete")}}>Delete</a></strong>
              <strong><a class="nav-item nav-link" href={{url_for("update")}}>Update</a></strong>
              <strong><a class="nav-item nav-link" href={{url_for("departure")}}>Departure/Destination</a></strong>
              <strong><a class="nav-item nav-link" href={{url_for("airports")}}>Airports</a></strong>
              <strong><a class="nav-item nav-link" href={{url_for("airlines")}}>Airlines</a></strong>
            </div>
        </div>
    </nav>

    <div class="bg-white" style="margin-top: 5em">
        <div class="btn-group d-flex align-self-center" style="margin-inline: 30em">
            <input type="radio" class="btn-check" name="options" id="1" value="1" autocomplete="off" {% if radio == 1 or radio is undefined%} checked {% endif %}/>
            <label class="btn btn-secondary" for="1">Flights</label>

            <input type="radio" class="btn-check" name="options" id="2" value="2"  autocomplete="off" {% if radio == 2 %} checked {% endif %} />
            <label class="btn btn-secondary" for="2">Airports</label>

            <input type="radio" class="btn-check" name="options" id="3" value="3"  autocomplete="off"{% if radio == 3 %} checked {% endif %} />
            <label class="btn btn-secondary" for="3">Airlines</label>
        </div>

    <h3 id="message">{{ message }}</h3>

        <div id="FlightTableForm1" name="FlightTableForm1">
            <section class="pb-4" style="margin-inline: 15em;">
                <div class="forms">
                    <section class="p-4 text-center pb-4">
                        <div class="form-outline bg-white text-center">

                            <form id="formQuery1" method="POST">
                                <div class="form-outline">
                                  <input type="text" id="Query" name="Query" class="form-control" />
                                  <label class="form-label" for="Query">{"field" : "value"}</label>
                                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 110px;"></div><div class="form-notch-trailing"></div></div>
                                </div>
                                <button class="btn btn-primary btn-block mb-4" formaction="/queryFlights">Send</button>
                            </form>
                        </div>
                    </section>
                </div>
            </section>






              <div class="bg-white border rounded-5" id="flightsTable">
                <h3>Total flights: {{ flights_size }}</h3>
                <section class="w-100 p-4 text-center">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">Year</th>
                            <th scope="col">Month</th>
                            <th scope="col">Day</th>
                            <th scope="col">Airline</th>
                            <th scope="col">Flight Number</th>
                            <th scope="col">Tail Number</th>
                            <th scope="col">Origin airport</th>
                            <th scope="col">Destination airport</th>
                            <th scope="col">Scheduled Departure</th>
                            <th scope="col">Departure Time</th>
                            <th scope="col">Departure Delay</th>
                            <th scope="col">Taxi Out</th>
                            <th scope="col">Wheels Off</th>
                            <th scope="col">Scheduled Time</th>
                            <th scope="col">Distance</th>
                            <th scope="col">Taxi in</th>
                            <th scope="col">Arrival Time</th>
                            <th scope="col">Diverted</th>
                            <th scope="col">Cancelled</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for flight in flights %}
                          <tr>
                            <td>{{ flight.YEAR }}</td>
                            <td>{{ flight.MONTH }}</td>
                            <td>{{ flight.DAY }}</td>
                            <td>{{ flight.AIRLINE }}</td>
                            <td>{{ flight.FLIGHT_NUMBER }}</td>
                            <td>{{ flight.TAIL_NUMBER }}</td>
                            <td>{{ flight.ORIGIN_AIRPORT }}</td>
                            <td>{{ flight.DESTINATION_AIRPORT }}</td>
                            <td>{{ flight.SCHEDULED_DEPARTURE }}</td>
                            <td>{{ flight.DEPARTURE_TIME }}</td>
                            <td>{{ flight.DEPARTURE_DELAY }}</td>
                            <td>{{ flight.TAXI_OUT }}</td>
                            <td>{{ flight.WHEELS_OFF }}</td>
                            <td>{{ flight.SCHEDULED_TIME }}</td>
                            <td>{{ flight.DISTANCE }}</td>
                            <td>{{ flight.TAXI_IN }}</td>
                            <td>{{ flight.ARRIVAL_TIME }}</td>
                            <td>{{ flight.DIVERTED }}</td>
                            <td>{{ flight.CANCELLED }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </section>
              </div>
        </div>

         <div id="FlightTableForm2" class="pb-4" style="margin-inline: 15em; display: none">
            <div class="forms">
                <section class="p-4 text-center pb-4">
                    <div class="form-outline bg-white text-center">
                        <form id="formQuery2" method="POST">
                          <input type="text" id="Query" name="Query" class="form-control" />
                          <label class="form-label" for="Query">{"field" : "value"}</label>
                          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div> <div class="form-notch-middle" style="width: 110px;"></div><div class="form-notch-trailing"></div></div>
                            <input type="submit" formaction="/queryAirports" class="btn btn-primary btn-block mb-4">
                        </form>

                    </div>
                    <section class="pb-4" id="airportsTable">
                      <h3>Total airports: {{ airports_size }}</h3>
                      <div class="bg-white border rounded-5" >
                        <section class="w-100 p-4 text-center">
                              <table class="table table-striped table-responsive">
                                <thead>
                                  <tr>
                                    <th scope="col">IATA_CODE</th>
                                    <th scope="col">Airport</th>
                                    <th scope="col">City</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Latitude</th>
                                    <th scope="col">Longitude</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for airport in airports %}
                                  <tr>
                                    <td>{{ airport.IATA_CODE }}</td>
                                    <td>{{ airport.Airport }}</td>
                                    <td>{{ airport.City }}</td>
                                    <td>{{ airport.State }}</td>
                                    <td>{{ airport.Country }}</td>
                                    <td>{{ airport.Latitude }}</td>
                                    <td>{{ airport.Longitude }}</td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                        </section>
                      </div>
                    </section> </section>
            </div></div>


          <div id="FlightTableForm3" class="pb-4" style="margin-inline: 15em; display: none">
            <div class="forms">
                <section class="p-4 text-center pb-4">
                    <div class="form-outline bg-white text-center">
                        <form id="formQuery3" method="POST">
                          <input type="text" id="Query" name="Query" class="form-control" />
                          <label class="form-label" for="Query">{"field" : "value"}</label>
                          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 110px;"></div><div class="form-notch-trailing"></div></div>
                        <input type="submit" formaction="/queryAirlines" class="btn btn-primary btn-block mb-4">
                        </form>

                    </div>
                    <section class="pb-4" id="airlinesTable">
                        <h3>Total airlines: {{ airlines_size }}</h3>
                        <div class="bg-white border rounded-5" >

                        <section class="w-100 p-4 text-center">
                              <table class="table table-striped table-responsive">
                                <thead>
                                  <tr>
                                    <th scope="col">IATA_CODE</th>
                                    <th scope="col">Airline</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for airline in airlines %}
                                  <tr>
                                    <td>{{ airline.IATA_CODE }}</td>
                                    <td>{{ airline.Airline }}</td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                        </section>
                        </div>
                    </section> </section>
          </div>
    </div>

  </div>

  </body>
</html>