<html>
    <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Query</title>
    <style>
        #snackbar {
          visibility: hidden; /* Hidden by default. Visible on click */
          min-width: 250px; /* Set a default minimum width */
          margin-left: -125px; /* Divide value of min-width by 2 */
          background-color: #3b71ca; /* Black background color */
          color: #fff; /* White text color */
          text-align: center; /* Centered text */
          border-radius: 2px; /* Rounded borders */
          padding: 16px; /* Padding */
          position: fixed; /* Sit on top of the screen */
          z-index: 1; /* Add a z-index if needed */
          left: 50%; /* Center the snackbar */
          bottom: 30px; /* 30px from the bottom */
        }

        #snackbar.show {
          visibility: visible; /* Show the snackbar */
          /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
          However, delay the fade out process for 2.5 seconds */
          -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
          animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
          from {bottom: 0; opacity: 0;}
          to {bottom: 30px; opacity: 1;}
        }

        @keyframes fadein {
          from {bottom: 0; opacity: 0;}
          to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
          from {bottom: 30px; opacity: 1;}
          to {bottom: 0; opacity: 0;}
        }

        @keyframes fadeout {
          from {bottom: 30px; opacity: 1;}
          to {bottom: 0; opacity: 0;}
        }
    </style>

    <script>
      $(document).ready(function() {
        const table = document.getElementById('myTable');
        const rows = table.getElementsByTagName('tr');

        Array.from(rows).forEach((row, index) => {
          row.addEventListener('click', () => {
            const cells = row.getElementsByTagName('td');
            navigator.clipboard.writeText(row.getAttribute("name"));
            myFunction();
            //alert("Copied the text: " + row.getAttribute("name"));
            });
          });
        });

        function myFunction() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>

        <script>
      $(document).ready(function() {
        const table = document.getElementById('myTable1');
        const rows = table.getElementsByTagName('tr');

        Array.from(rows).forEach((row, index) => {
          row.addEventListener('click', () => {
            const cells = row.getElementsByTagName('td');
            navigator.clipboard.writeText(row.getAttribute("name"));
            myFunction();
            //alert("Copied the text: " + row.getAttribute("name"));
            });
          });
        });

        function myFunction() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>

        <script>
      $(document).ready(function() {
        const table = document.getElementById('myTable2');
        const rows = table.getElementsByTagName('tr');

        Array.from(rows).forEach((row, index) => {
          row.addEventListener('click', () => {
            const cells = row.getElementsByTagName('td');
            navigator.clipboard.writeText(row.getAttribute("name"));
            myFunction();
            //alert("Copied the text: " + row.getAttribute("name"));
            });
          });
        });

        function myFunction() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>
  </head>

  <body>
    <script>

      $(document).ready(function() {
          $('#message').show();
            {% if flights_size is undefined %}
               $("#flightsTable").hide();
            {% else %}
                $("#flightsTable").show();
            {% endif %}

            {% if airports_size is undefined %}
               $("#airportsTable").hide();
               console.log("hide")
            {% else %}
                $("#airportsTable").show();
                console.log("show")
            {% endif %}

            {% if airlines_size is undefined %}
               $("#airlinesTable").hide();
            {% else %}
                $("#airlinesTable").show();
            {% endif %}

          $('input[type="radio"]').change(function() {
              $('#message').hide();
            // Ottieni il valore del radio button selezionato
            var selectedOption = $('input[name="options"]:checked').val();
            $('#FlightTableForm1').hide();
            $('#FlightTableForm2').hide();
            $('#FlightTableForm3').hide();

            // Mostra il contenuto corrispondente all'opzione selezionata
            $('#FlightTableForm' + selectedOption).show();
          });

          $('input[type="radio"]').ready(function() {
            // Ottieni il valore del radio button selezionato
            var selectedOption = $('input[name="options"]:checked').val();
            $('#FlightTableForm1').hide();
            $('#FlightTableForm2').hide();
            $('#FlightTableForm3').hide();

            // Mostra il contenuto corrispondente all'opzione selezionata
            $('#FlightTableForm' + selectedOption).show();
          });
      });

  </script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #3b71ca;">
        <a style="margin-left: 1em" class="navbar-brand" href={{url_for("homepage")}}>
            <img src="static/plane.png" width="30" height="30" class="d-inline-block align-top" alt="">
            FlightsDB
        </a>
        <div class="container-fluid" id="navbarNavAltMarkup" style="margin-left: 30em;">
            <div class="navbar-nav">
              <strong><a class="nav-item nav-link" href={{url_for("query")}}>Query</a></strong>
              <strong><a class="nav-item nav-link" href={{url_for("insert")}}>Insert</a></strong>
              <strong><a class="nav-item nav-link" href={{url_for("delete")}}>Delete</a></strong>
              <strong><a class="nav-item nav-link" href={{url_for("update")}}>Update</a></strong>
              <strong><a class="nav-item nav-link" href={{url_for("departure")}}>Departure/Destination</a></strong>
              <strong><a class="nav-item nav-link" href={{url_for("airports")}}>Airports</a></strong>
              <strong><a class="nav-item nav-link" href={{url_for("airlines")}}>Airlines</a></strong>
            </div>
        </div>
    </nav>

    <div id="snackbar" style="border-radius: 15px">ID copied</div>


    <div class="bg-white text-center" id="messageDiv" style="margin-top: 2.5em; color: #3b71ca">
        <h1>Query</h1>
        <h6>Submit your query to the database</h6>
    </div>

    <div class="bg-white" style="margin-top: 3em">
        <div class="btn-group d-flex align-self-center" style="margin-inline: 40em">
            <input type="radio" class="btn-check" name="options" id="1" value="1" autocomplete="off" {% if radio == 1 or radio is undefined%} checked {% endif %}/>
            <label class="btn btn-secondary" for="1">Flights</label>

            <input type="radio" class="btn-check" name="options" id="2" value="2"  autocomplete="off" {% if radio == 2 %} checked {% endif %} />
            <label class="btn btn-secondary" for="2">Airports</label>

            <input type="radio" class="btn-check" name="options" id="3" value="3"  autocomplete="off"{% if radio == 3 %} checked {% endif %} />
            <label class="btn btn-secondary" for="3">Airlines</label>
        </div>

        <div id="FlightTableForm1" name="FlightTableForm1">
            <section class="pb-4" style="margin-inline: 15em;">
                <div class="forms">
                    <section class="p-4 text-center pb-4">
                        <div class="form-outline bg-white text-center">

                            <form id="formQuery1" method="POST">
                                <div class="form-outline">
                                  <input type="text" id="Query" name="Query" class="form-control active" style="font-size: 1.5em; "/>
                                  <label class="form-label" for="Query" style="font-size: 1.5em; padding-top: 0em!important;">{"field" : "value"}</label>
                                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 145px;"></div><div class="form-notch-trailing"></div></div>
                                </div>
                                <button class="btn btn-primary btn-block mb-4" formaction="/queryFlights">Send</button>
                            </form>
                        </div>
                    </section>
                </div>
            </section>


              <div class="bg-white border rounded-5" id="flightsTable">
                <h3>Total flights: {{ flights_size }}</h3>
                <section class="w-100 p-4 text-center">
                    <div class="table-responsive">
                      <table class="table table-striped" id="myTable">
                        <thead>
                          <tr>
                            <th scope="col"><strong>Year</strong></th>
                            <th scope="col"><strong>Month</strong></th>
                            <th scope="col"><strong>Day</strong></th>
                            <th scope="col"><strong>Airline</strong></th>
                            <th scope="col"><strong title="Flight Identifier">Flight Number</strong></th>
                            <th scope="col"><strong title="Aircraft Identifier">Tail Number</strong></th>
                            <th scope="col"><strong>Origin airport</strong></th>
                            <th scope="col"><strong>Destination airport</strong></th>
                            <th scope="col"><strong>Scheduled Departure</strong></th>
                            <th scope="col"><strong>Departure Time</strong></th>
                            <th scope="col"><strong>Departure Delay</strong></th>
                            <th scope="col"><strong title="The time duration elapsed between departure from the origin airport gate and wheels off">Taxi Out</strong></th>
                            <th scope="col"><strong title="The time point that the aircraft's wheels leave the ground">Wheels Off</strong></th>
                            <th scope="col"><strong title="Planned time amount needed for the flight trip">Scheduled Time</strong></th>
                            <th scope="col"><strong title="Distance between two airports in miles">Distance</strong></th>
                            <th scope="col"><strong title="The time duration elapsed between wheels-on and gate arrival at the destination airport">Taxi in</strong></th>
                            <th scope="col"><strong>Arrival Time</strong></th>
                            <th scope="col"><strong title="If aircraft have landed on airport that is out of schedule">Diverted</strong></th>
                            <th scope="col"><strong title="If flight is canceled">Cancelled</strong></th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for flight in flights %}
                          <tr id="row" name="{{ flight._id }}">
                            <td>{{ flight.YEAR }}</td>
                            <td>{{ flight.MONTH }}</td>
                            <td>{{ flight.DAY }}</td>
                            <td>{{ flight.AIRLINE }}</td>
                            <td>{{ flight.FLIGHT_NUMBER }}</td>
                            <td>{{ flight.TAIL_NUMBER }}</td>
                            <td>{{ flight.ORIGIN_AIRPORT }}</td>
                            <td>{{ flight.DESTINATION_AIRPORT }}</td>
                            <td>{{ flight.SCHEDULED_DEPARTURE }}</td>
                            <td>{{ flight.DEPARTURE_TIME }}</td>
                            <td>{{ flight.DEPARTURE_DELAY }}</td>
                            <td>{{ flight.TAXI_OUT }}</td>
                            <td>{{ flight.WHEELS_OFF }}</td>
                            <td>{{ flight.SCHEDULED_TIME }}</td>
                            <td>{{ flight.DISTANCE }}</td>
                            <td>{{ flight.TAXI_IN }}</td>
                            <td>{{ flight.ARRIVAL_TIME }}</td>
                            <td>{{ flight.DIVERTED }}</td>
                            <td>{{ flight.CANCELLED }}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </section>
              </div>
        </div>

         <div id="FlightTableForm2" class="pb-4" style="margin-inline: 15em; display: none">
            <div class="forms">
                <section class="p-4 text-center pb-4">
                    <div class="form-outline bg-white text-center">
                        <form id="formQuery2" method="POST">
                            <div class="form-outline">
                              <input type="text" id="Query" name="Query" class="form-control active" style="font-size: 1.5em; "/>
                              <label class="form-label" for="Query" style="font-size: 1.5em; padding-top: 0em!important;">{"field" : "value"}</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 145px;"></div><div class="form-notch-trailing"></div></div>
                            </div>
                            <button class="btn btn-primary btn-block mb-4" formaction="/queryAirports">Send</button>
                        </form>

                    </div>
                    <section class="pb-4" id="airportsTable">
                      <h3>Total airports: {{ airports_size }}</h3>
                      <div class="bg-white border rounded-5" >
                        <section class="w-100 p-4 text-center">
                              <table class="table table-striped table-responsive" id="myTable1">
                                <thead>
                                  <tr>
                                    <th scope="col">IATA_CODE</th>
                                    <th scope="col">Airport</th>
                                    <th scope="col">City</th>
                                    <th scope="col">State</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Latitude</th>
                                    <th scope="col">Longitude</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for airport in airports %}
                                  <tr id="row" name="{{ airport._id }}">
                                    <td>{{ airport.IATA_CODE }}</td>
                                    <td>{{ airport.AIRPORT }}</td>
                                    <td>{{ airport.CITY }}</td>
                                    <td>{{ airport.STATE }}</td>
                                    <td>{{ airport.COUNTRY }}</td>
                                    <td>{{ airport.LATITUDE }}</td>
                                    <td>{{ airport.LONGITUDE }}</td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                        </section>
                      </div>
                    </section> </section>
            </div></div>


          <div id="FlightTableForm3" class="pb-4" style="margin-inline: 15em; display: none">
            <div class="forms">
                <section class="p-4 text-center pb-4">
                    <div class="form-outline bg-white text-center">
                        <form id="formQuery3" method="POST">
                            <div class="form-outline">
                              <input type="text" id="Query" name="Query" class="form-control active" style="font-size: 1.5em; "/>
                              <label class="form-label" for="Query" style="font-size: 1.5em; padding-top: 0em!important;">{"field" : "value"}</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 145px;"></div><div class="form-notch-trailing"></div></div>
                            </div>
                            <button class="btn btn-primary btn-block mb-4" formaction="/queryAirlines">Send</button>
                        </form>

                    </div>
                    <section class="pb-4" id="airlinesTable">
                        <h3>Total airlines: {{ airlines_size }}</h3>
                        <div class="bg-white border rounded-5" >

                        <section class="w-100 p-4 text-center">
                              <table class="table table-striped table-responsive" id="myTable2">
                                <thead>
                                  <tr>
                                    <th scope="col">IATA_CODE</th>
                                    <th scope="col">Airline</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {% for airline in airlines %}
                                  <tr id="row" name="{{ airline._id }}">
                                    <td>{{ airline.IATA_CODE }}</td>
                                    <td>{{ airline.AIRLINE }}</td>
                                  </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                        </section>
                        </div>
                    </section> </section>
          </div>
    </div>
    <div class="bg-white text-center" id="messageDiv">
        <h3 id="message">{{ message }}</h3>
    </div>


  </div>

  </body>
</html>