<html>
    <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Document update</title>
  </head>

      <script>
          $(document).ready(function() {
              var selectedOption = $('input[name="options"]:checked').val();
                $('#FlightTableForm1').hide();
                $('#FlightTableForm2').hide();
                $('#FlightTableForm3').hide();

                $('#radio_value').val(selectedOption);

                $('#FlightTableForm' + selectedOption).show();
              $('input[type="radio"]').change(function() {

                var selectedOption = $('input[name="options"]:checked').val();
                $('#FlightTableForm1').hide();
                $('#FlightTableForm2').hide();
                $('#FlightTableForm3').hide();

                $('#radio_value').val(selectedOption);

                $('#FlightTableForm' + selectedOption).show();
              });
            });
      </script>

    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href={{url_for("query")}}>
            <img src="static/plane.png" width="30" height="30" class="d-inline-block align-top" alt="">
            FlightsDB
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href={{url_for("insert")}}>Insert</a>
              <a class="nav-item nav-link active" href={{url_for("delete")}}>Delete</a>
              <a class="nav-item nav-link active" href={{url_for("update")}}>Update</a>
              <a class="nav-item nav-link active" href={{url_for("departure")}}>Departure/Destination</a>
              <a class="nav-item nav-link active" href={{url_for("airports")}}>Airports</a>
              <a class="nav-item nav-link active" href={{url_for("airlines")}}>Airlines</a>

            </div>
        </div>
    </nav>

    <div class="bg-white border rounded-5" style="margin-inline: 15em;">
        <div class="btn-group d-flex align-self-center" style="margin-inline: 35em; margin-top: 5em">
            <input type="radio" class="btn-check" name="options" id="1" value="1" autocomplete="off" checked />
            <label class="btn btn-secondary" for="1">Flights</label>

            <input type="radio" class="btn-check" name="options" id="2" value="2"  autocomplete="off" />
            <label class="btn btn-secondary" for="2">Airports</label>

            <input type="radio" class="btn-check" name="options" id="3" value="3"  autocomplete="off" />
            <label class="btn btn-secondary" for="3">Airlines</label>
        </div>

        <h3 id="message"> {{ message }}</h3>

          <section id="FlightTableForm1" class="pb-4 FlightTableForm1" style="display: none">
            <div class="forms">
                <section class="p-4 text-center pb-4">
                    <div class="form-outline bg-white text-center">
                        <form id="formQuery1" method="POST">
                          <div class="form-outline">
                              <div class="row">
                                  <div class="col">
                                      <input type="text" id="ID" name="ID" class="form-control" />
                                      <label class="form-label" for="ID">ID</label>
                                      <div class="form-notch stef" style="height: 60%!important;"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 20px;"></div><div class="form-notch-trailing"></div></div>
                                  </div>
                                  <div class="col">
                                    <input type="submit" formaction="/idFlights" class="btn btn-primary btn-block mb-4">
                                  </div>
                              </div>
                          </div>
                        </form>
                    </div>
                    <section class="pb-4">
                    <div class="bg-white border rounded-5">
                    <section class="w-100 p-4 text-center">
                        <form id="formQuery3" method="POST" >
                          <div class="row mb-4">
                            <div class="col">
                              <div class="form-outline">
                                <input type="text" id="year" name="year" class="form-control">
                                <label class="form-label" for="year" style="margin-left: 0px;">Year</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 35px;"></div><div class="form-notch-trailing"></div></div></div>
                            </div>
                            <div class="col">
                              <div class="form-outline">
                                <input type="text" id="month" name="month" class="form-control">
                                <label class="form-label" for="month" style="margin-left: 0px;">Month</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 42px;"></div><div class="form-notch-trailing"></div></div></div>
                            </div>
                            <div class="col">
                              <div class="form-outline">
                                <input type="text" id="day" name="day" class="form-control">
                                <label class="form-label" for="day" style="margin-left: 0px;">Day</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 30px;"></div><div class="form-notch-trailing"></div></div></div>
                            </div>
                        </div>

                        <div class="row mb-4">
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="airline" name="airline" class="form-control">
                                <label class="form-label" for="airline" style="margin-left: 0px;">Airline</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 120px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <!-- Text input -->
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="flight" name="flight" class="form-control">
                                <label class="form-label" for="flight" style="margin-left: 0px;">Flight Number</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>
                          <!-- Email input -->
                          <div class="col">
                          <div class="form-outline mb-4">
                            <input type="text" id="tail" name="tail" class="form-control">
                            <label class="form-label" for="tail" style="margin-left: 0px;">Tail Number</label>
                          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 110px;"></div><div class="form-notch-trailing"></div></div></div>
                            </div>
                        </div>

                      <!-- Text input -->

                       <div class="row mb-4">
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="origin" name="origin" class="form-control">
                                <label class="form-label" for="origin" style="margin-left: 0px;">Origin Airport</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 120px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <!-- Text input -->
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="destination" name="destination" class="form-control">
                                <label class="form-label" for="destination" style="margin-left: 0px;">Destination Airport</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>
                       </div>


                       <div class="row mb-4">
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="departure" name="departure" class="form-control">
                                <label class="form-label" for="departure" style="margin-left: 0px;">Scheduled departure</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 120px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <!-- Text input -->
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="depTime" name="depTime" class="form-control">
                                <label class="form-label" for="depTime" style="margin-left: 0px;">Departure Time</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="depDelay" name="depDelay" class="form-control">
                                <label class="form-label" for="depDelay" style="margin-left: 0px;">Departure Time</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>
                       </div>

                       <div class="row mb-4">
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="taxi" name="taxi" class="form-control">
                                <label class="form-label" for="taxi" style="margin-left: 0px;">Taxi Out</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 120px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <!-- Text input -->
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="wheels" name="wheels" class="form-control">
                                <label class="form-label" for="wheels" style="margin-left: 0px;">Wheels Off</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="schedTime" name="schedTime" class="form-control">
                                <label class="form-label" for="schedTime" style="margin-left: 0px;">Scheduled Time</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>
                       </div>

                       <div class="row mb-4">
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="distance" name="distance" class="form-control">
                                <label class="form-label" for="distance" style="margin-left: 0px;">Distance</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 120px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <!-- Text input -->
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="taxiIn" name="taxiIn" class="form-control">
                                <label class="form-label" for="taxiIn" style="margin-left: 0px;">Taxi In</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="arrTime" name="arrTime" class="form-control">
                                <label class="form-label" for="arrTime" style="margin-left: 0px;">Arrival Time</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>
                       </div>

                       <div class="row mb-4">
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="diverted" name="diverted" class="form-control">
                                <label class="form-label" for="diverted" style="margin-left: 0px;">Diverted</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 120px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <!-- Text input -->
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="cancelled" name="cancelled" class="form-control">
                                <label class="form-label" for="cancelled" style="margin-left: 0px;">Cancelled</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>
                       </div>

                      <!-- Number input -->
                      <input type="submit" formaction="/updateFlights" class="btn btn-primary btn-block mb-4" value="Update">

                      </form>

                    </section>
                    </div>
                    </section>
                </section>
            </div></section>



      <section id="FlightTableForm2" class="FlightTableForm2" style="display:none;">
            <div class="forms">
                <section class="p-4 text-center pb-4">
                    <div class="form-outline bg-white text-center">
                <form id="formQuery2" method="POST">
                  <input type="text" id="ID" name="ID" class="form-control" />
                  <label class="form-label" for="ID">ID</label>
                  <input type="submit" formaction="/idAirports" class="btn btn-primary btn-block mb-4">
                </form>
            </div>
          <section class="pb-4">
            <div class="bg-white border rounded-5">
            <section class="w-100 p-4 text-center">
                <form id="formQuery3" method="POST" >
                  <div class="row mb-4">
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="IATA_CODE" name="IATA_CODE" class="form-control">
                                <label class="form-label" for="IATA_CODE" style="margin-left: 0px;">IATA Code</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 120px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <!-- Text input -->
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="Name" name="Name" class="form-control">
                                <label class="form-label" for="Name" style="margin-left: 0px;">Airport</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>
                  </div>

                  <div class="row mb-4">
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="City" name="City" class="form-control">
                                <label class="form-label" for="City" style="margin-left: 0px;">City</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <!-- Text input -->
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="State" name="State" class="form-control">
                                <label class="form-label" for="State" style="margin-left: 0px;">State</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="Country" name="Country" class="form-control">
                                <label class="form-label" for="Country" style="margin-left: 0px;">Country</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>
                  </div>
                    <input type="hidden" name="id" value={{ airport._id}}>

                    <div class="row mb-4">
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="Latitude" name="Latitude" class="form-control">
                                <label class="form-label" for="Latitude" style="margin-left: 0px;">Latitude</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 120px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <!-- Text input -->
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="Longitude" name="Longitude" class="form-control">
                                <label class="form-label" for="Longitude" style="margin-left: 0px;">Longitude</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>
                  </div>

                  <input type="submit" formaction="/updateAirports" class="btn btn-primary btn-block mb-4" value="Update">

                        </form>

                    </section>
                    </div>
                    </section>
                </section>
            </div></section>



      <section id="FlightTableForm3" class="FlightTableForm3" style="display:none;">
            <div class="forms">
                <section class="p-4 text-center pb-4">
                    <div class="form-outline bg-white text-center">
                <form id="formQuery3" method="POST">
                  <input type="text" id="ID" name="ID" class="form-control" />
                  <label class="form-label" for="ID">ID</label>
                  <input type="submit" formaction="/idAirlines" class="btn btn-primary btn-block mb-4">
                </form>
            </div>
          <section class="pb-4">
            <div class="bg-white border rounded-5">
            <section class="w-100 p-4 text-center">
                <form id="formQuery3" method="POST" >
                  <div class="row mb-4">
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="IATA_CODE" name="IATA_CODE" class="form-control">
                                <label class="form-label" for="IATA_CODE" style="margin-left: 0px;">IATA Code</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 120px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>

                          <!-- Text input -->
                          <div class="col">
                              <div class="form-outline mb-4">
                                <input type="text" id="Name" name="Name" class="form-control">
                                <label class="form-label" for="Name" style="margin-left: 0px;">Name</label>
                              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 85px;"></div><div class="form-notch-trailing"></div></div></div>
                          </div>
                  </div>
                  <input type="hidden" name="id" value={{ airline._id}}>

                  <input type="submit" formaction="/updateAirlines" class="btn btn-primary btn-block mb-4" value="Update">

                        </form>

                    </section>
                    </div>
                    </section>
                </section>
            </div></section></div>

  </body>
</html>